<%= render "pagetree" %>
<% if flash[:notice] %>
	<div class="span8">
    	<div id="notice" class="alert alert-danger well"><%= flash[:notice] %></div>
    </div>
    <% end %>
<div id="right_col" class="well span8">
  <h3>Dina sidor</h3>
  	<table class="table table-striped table-bordered table-condensed">
    	<tr>
    		<th>Sidnamn</th>
    		<th>Live</th>
        <th>Kan editeras</th>
    		<th>Senast ändrad</th>
        <th>Integrera</th>
    	</tr>
  		<% @pageTree.each do |pagetree| %>

        <% if pagetree.activated == 1 then activated = "Ja" else activated = "Nej" end %>
        <% if pagetree.editable  == 1 then editable  = "Ja" else editable  = "Nej" end %>
  			<tr>
  				<td><%= pagetree.name %></td>
  				<td><%= activated %></td>
          <td><%= editable %>
  				<td><%= pagetree.updated_at %></td>
          <td style="text-align: center; padding-top: 8px;"><%= link_to "Besök sida", page_path(pagetree), class: "btn btn-info" %></td>
  			</tr>
  		<% end %>
  	 </table>
</div>

