<script>
$("#page-change").on("click", function(event){
  $("div.controls").removeClass("controlls");
  $("div.controls").addClass("control-group success");
  $(".input-xlarge").css("background", "#ABEBB4");
  setTimeout(function(){
      $("div.controls").removeClass("control-group success"); 
      $(".input-xlarge").css("background", "white");
  }, 1000);
});
 
$("#option-activate").on("click", function(event){
  $("div.controls").removeClass("controlls");
  $("div.controls").addClass("control-group success");
  $(".input-xlarge").css("background", "#ABEBB4");
  setTimeout(function(){
      $("div.controls").removeClass("control-group success"); 
      $(".input-xlarge").css("background", "white");
  }, 1000);
});

   $('.hidden').hide();
   $('#myModal').hide();
   $('#subpageModal').hide();
   $(".create-page").on("click", function(){
      $('.new_page').submit();
     });
  $(".delete-page").on("click", function(event){
    event.preventDefault();
    $(".delete-page").fadeOut("fast");
    $('.hidden').fadeIn("fast");
    
  });
  $('#editable_form').on("click", function(event){
      if($("#option-editable").attr("value") == 0)
      {
        $("#option-editable").attr("value", 1)
      }
      else
      {
        $("#option-editable").attr("value", 0)
      } 
  });
  setTimeout(function(){
      $('.enable').on("click", function(event){
      if($("#option-activate").attr("value") == 0)
      {
        $("#option-activate").attr("value", 1)
      }
      else if($("#option-activate").attr("value") == 1)
      {
        $("#option-activate").attr("value", 0)
      } 
  });
  }, 1000);
  $( "#sortable" ).sortable({
    receive: function(event, ui) { 
    
}
  });
  $( "#sortable" ).bind( "sortupdate", function(event, ui) {
    console.log($(ui.item.context.children).attr("id"))
  });
 $( "#sortable" ).disableSelection();
</script>
<div class="modal" id="myModal">
  <div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3>Skapa en ny sida</h3>
  </div>
  <div class="modal-body">
    <%= form_for Page.new, id: "create" do |form| %>
    <div class="control-group">
        <label class="control-label" for="siteName">Sidnamn</label>
        <div class="controls">
        <%= form.text_field :name, class: "input-xlarge focused", placeholder: "Lorem ipsum" %>
        </div>
    </div>
    <div class="controls">
      <label class="control-label" for="textarea">Standard text</label>
      <%= form.text_area(:content, style: "height: 200px; width: 350px;") %>
    </div>
    </div>
  
  <div class="modal-footer">
    <%= form.submit "Skapa sida", class: "btn btn-success btn-large create-page", "data-toggle" => "true" %>
    <a href="#" data-dismiss="modal" class="btn btn-large">Stäng detta fönster</a>
  </div>
  <% end %>
</div>
<div class="modal" id="subpageModal">
  <div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3>Skapa en ny undersida för <%= @page.name %></h3>
  </div>
  <div class="modal-body">
    <%= form_for Page.new, id: "create-sub" do |form| %>
    <div class="control-group">
        <label class="control-label" for="siteName">Sidnamn</label>
        <div class="controls">
          <%= form.text_field :name, class: "input-xlarge focused", placeholder: "Lorem ipsum" %>
        </div>
    </div>
    <div class="controls">
      <label class="control-label" for="textarea">Standard text</label>
      <%= form.text_area(:content, style: "height: 200px; width: 350px;") %>
    </div>
      <%= form.hidden_field :subpage, {:value => @page.id} %>
    </div>
  
  <div class="modal-footer">
    <%= form.submit "Skapa undersida", class: "btn btn-success btn-large create-page", "data-toggle" => "true" %>
    <a href="#" data-dismiss="modal" class="btn btn-large">Stäng detta fönster</a>
  </div>
  <% end %>
</div>
<div style="width: 819px;" class="alert alert-info span8">
	<b>Allämn information om denna sidan</b>
	<ul style="padding: 5px;">
		<li>Ändra sidinställningar</li>
		<li>Skapa nya sidor</li>
    <li>Ta bort sidor</li>
	</ul>
</div>
<div  class="row">
  <div style="margin-bottom: 8px; margin-top:-10px; margin-left: 578px; width: 350px;" class="span3 ">
    <%= link_to "Skapa en ny sida", "#myModal", 
                :class => "btn btn-success btn-large", 
                "data-toggle" => "modal" %>
    <% if @page.subpage == 0 %>
        <% create_sub_disabled = "" %>
      <% else %>
        <% create_sub_disabled = "disabled" %>
        <% destroy_modal       = "destroy" %>
    <% end %>
      <%= link_to "Skapa en ny undersida", "#subpageModal #{destroy_modal}", 
                :class => "btn btn-info btn-large #{create_sub_disabled}", 
                "data-toggle" => "modal" %>
    
  </div>
</div>

<%= render "pagetree" %>
<div id="right_col" class="well span8">
  <div class="span8 data-display">
<!--     <h3>Du editerar just nu sidan: <%= @page.name %></h3>
 -->    <div style="width: 555px;" class="alert alert-info">
      Tryck på önskad inställning för att aktivera eller inaktivera en inställning.
    </div>
    <div class="control-group" id="change">
      <label class="control-label" for="focusedInput">Sidnamn</label>
      <div class="controls">
      <%= form_for @page, remote: true do |form| %>
        <%= form.text_field :name, class: "input-xlarge focused", placeholder: @page.name %>
        <p>
          <%= form.submit "Ändra", class: "btn", id: "page-change", data: {toggle: "request"} %>
        </p>
      <% end %>
      </div>
    </div>
    <div id="settings">
    <%= form_for @page, remote: true do |form| %>
      <p>
        <p>Allmäna inställningar</p>
        <%= form.submit "Publicerad",
                        class: 
                          if @page.activated == 1 
                            then "btn btn-info btn-small active" 
                            else "btn btn-info btn-small" 
                          end, 
                          "data-toggle" => "button" %>
        <%= form.hidden_field :activated, id: "option-activate", 
                              value: 
                              if @page.activated == 1 
                                then 0 
                                else 1 
                              end
        %>
       <% end %>

       <%= form_for @page, remote: true, :'data-update-target' => "settings" do |form| %>
          <%= form.submit "Editerbar", 
                          class: 
                            if @page.editable == 1 
                              then "btn btn-info btn-small active enable" 
                              else "btn btn-info btn-small enable" 
                            end, 
                            "data-toggle" => "button" %>
          <%= form.hidden_field :editable, id: "option-editable", 
                              value: 
                              if @page.editable == 1 
                                then 0 
                                else 1 
                              end 
           %>
      <% end %>
      
      </p>
    </div>
  <p>
     <p>Modul inställningar</p>
      <a class="btn btn-info btn-small" data-toggle="button" href="#">
      <i class="icon-cog icon-white"></i>
          Lösenordsskyddad
    </a>
     <a class="btn btn-info btn-small" data-toggle="button" href="#">
      <i class="icon-cog icon-white"></i>
          Nyheter
    </a>
    <a class="btn btn-info btn-small" data-toggle="button" href="#">
      <i class="icon-cog icon-white"></i>
          Bildgalleri
    </a>
    </p>

    <div style="margin-left: 480px; margin-top: 5px;" class="span2">
        <%= link_to "Editera sida", "http://frontend.dev/editor/pages/" + @page.id.to_s, :class => "btn btn-warning", "style" => "width: 102px;", "target" => "_window" %>
    </div>
    <div style="margin-left: 480px; margin-top: 5px;" class="span2" id="removeHolder">
        <%= link_to "Ta bort sida", "#", "data-id" => "#{@page.id}",  class: "btn btn-danger delete-page", "style" => "width: 102px;", "data-toggle" => "request" %>
         <div class="hidden">
            <%= form_for @page, method: "delete" do |form| %>
            <%= link_to "Nej", "#", class: "btn btn-danger", style: "position: absolute; margin-top: 0px; height: 16px;" %>
            <%= form.submit "Acceptera", class: "btn btn-success", style: " margin-left:45px;"  %>
          <% end %>
        </div>
    </div>
   
  
</div>
  
</div>