<div class="modal" id="myModal">
  <div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3>Skapa en ny sida</h3>
  </div>
  <div class="modal-body">
    <div class="control-group">
        <label class="control-label" for="siteName">Sidnamn</label>
        <div class="controls">
        <input id="siteName" class="input-xlarge focused site-name" type="text" placeholder="Lorem ipsum"> 
        </div>
    </div>
    <div class="controls">
      <label class="control-label" for="textarea">Standard text</label>
      <textarea style="height: 230px; width: 400px;" rows="10" id="textarea" class="input-xlarge">
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sem nec diam rutrum a tempor dui lacinia. Nunc aliquet mattis eros sed interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur scelerisque quam ut mi mattis sed imperdiet metus dictum. Maecenas lorem nibh, ultricies eu congue at, sagittis in nunc.Praesent vitae velit vel purus posuere volutpat. Aenean non lorem neque. Nullam interdum est ut nunc convallis eu pulvinar diam rhoncus. 
      </textarea>
    </div>

    </div>
  <div class="modal-footer">
  <a href="#" data-toggle="request" class="btn btn-success btn-large create-page">Skapa sida</a>
  <a href="#" data-dismiss="modal" class="btn btn-large">Stäng detta fönster</a>
  </div>
</div>
<div style="width: 819px;" class="alert alert-info span10">
	<b>Allämn information om denna sidan</b>
	<ul>
		<li>Ändra sidinställningar</li>
		<li>Skapa nya sidor</li>
	</ul>
</div>
<div class="span3">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <li class="nav-header">Sidträ</li>
     <ol class="trees">
     	<% @pageTree.each do |pt| %>
     		<li class="file">
     			<%= link_to "#{pt.name}", "/pages/#{pt.id}", :class => "getinfo icon-file", "data-id" =>  "#{pt.id}", :remote => false %>
     		</li>
     	<% end %>

	 <!--    
	  <li>
	        <label for="subfolder1">Subfolder 1</label>
	        <input type="checkbox" id="subfolder1" />
	        <ol>
	            <li class="file"><a href="">File 2</a></li>
	            <li class="file"><a href="">File 2</a></li>
	            <li class="file"><a href="">File 2</a></li>
	        </ol>
	    </li>  -->
	 </ol>
      <li class="nav-header">Another list header</li>
      <li><a href="#"><i class="icon-user"></i> Konto</a></li>
      <li><a href="#"><i class="icon-cog"></i> Inställnngar</a></li>
      <li><a href="#"><i class="icon-flag"></i> Hjälp</a></li>
      <li><%= fetch_sign_out_link %></li>
    </ul>
  </div>
</div>

<div id="right_col" class="well span8">
  <div class="span8 data-display">
    <% @p_settings.each do |page| %>
    <div style="width: 555px;" class="alert alert-info">
      Tryck på önskad inställning för att aktivera eller inaktivera en inställning.
    </div>
    <div class="control-group">
      <label class="control-label" for="focusedInput">Sidnamn</label>
      <div class="controls">
      <input id="focusedInput" class="input-xlarge focused" type="text" placeholder=" <%= "#{page.name}" %>"> 
      <p><a href="#" class="btn">Ändra</a></p>
      </div>
    </div>
    <p>
    <p>Allmäna inställningar</p>
    <a class="btn btn-info btn-small" data-toggle="button" href="#">
      <i class="icon-cog icon-white"></i>
          Publicerad
    </a>
    <a class="btn btn-info btn-small" data-toggle="button" href="#">
      <i class="icon-cog icon-white"></i>
          Editerbar
    </a>
  </p>
  <p>
     <p>Modul inställningar</p>
      <a class="btn btn-info btn-small" data-toggle="button" href="#">
      <i class="icon-cog icon-white"></i>
          Lösenordsskyddad
    </a>
     <a class="btn btn-info btn-small" data-toggle="button" href="#">
      <i class="icon-cog icon-white"></i>
          Nyheter
    </a>
    <a class="btn btn-info btn-small" data-toggle="button" href="#">
      <i class="icon-cog icon-white"></i>
          Bildgalleri
    </a>
    </p>
    <div style="margin-left: 480px;" class="span2">
        <%= link_to "Skapa en ny sida", "#myModal", 
                    :class => "btn btn-success ", 
                    "data-toggle" => "modal" %>
    </div>
    <div style="margin-left: 480px; margin-top: 5px;" class="span2">
        <%= link_to "Editera sida", "http://frontend.dev/editor/pages/" + page.id.to_s, :class => "btn btn-warning", "style" => "width: 102px;", "target" => "_window" %>
    </div>
    <div style="margin-left: 480px; margin-top: 5px;" class="span2">
        <%= link_to "Ta bort sida", "#", :class => "btn btn-danger", "style" => "width: 102px;" %>
    </div>
<% end %>
  
</div>
  
</div>

